@model HotMusic.DataModel.PlaylistSongs

@{
    ViewData["Title"] = "Xóa";
}

<h3>Bạn chắc chắn muốn xóa bản ghi này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model =>model.PlaylistId)</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model=>model.PlaylistId)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SongId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SongId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SongId" />
        <input type="hidden" asp-for="PlaylistId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Trở về danh sách</a>
    </form>
</div>
