@model HotMusic.Models.AlbumSongDisplayViewModel

@{
    ViewData["Title"] = "Thêm mới";
}

<h1>Create</h1>

<h4>AlbumSongs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AlbumTitle" class="control-label"></label>
                <select asp-for="AlbumId" asp-items="@ViewBag.listAlbum" class="form-control" >
                    <option>--Chọn Album---</option>
                </select>
                <span asp-validation-for="AlbumId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SongTitle" class="control-label"></label>
                <select asp-for="SongId" asp-items="@ViewBag.listSong" class="form-control">
                    <option>--Chọn bài hát---</option>
                </select>
                <span asp-validation-for="SongId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

