@using HotMusic.DataModel;
@{
    Layout = "_LayoutHomePage";
    var listAlbum = ViewData["listAlbum"] as List<Albums>;
    var UserName = Context.Session.GetString("UserName") as string;
}
<html>
    <body>
    <partial name="_AlertMessage" />
        <div class="content-tab-right">
            <div class="title-content">Nhạc Trẻ</div>

            <div class="title-content-right">Show all</div>
                
            @foreach (var album in listAlbum.Take(5))
            {
                <div class="item-content-tab-right" onclick="PageListSong('@album.AlbumId')">
                    <div class="img-item">
                        <img src="~/img/Album/@album.Thumbnail">
                    </div>
                    <div class="text-item">
                        <p><b>@album.AlbumTitle</b></p>
                        <p class="text-content"></p>
                    </div>
                </div>
            }
        </div>
       
        
        <div class="content-tab-right">
            <div class="title-content">Spotify Playlists</div>
            <div class="title-content-right">Show all</div>
            <div class="item-content-tab-right">
                <div class="img-item">
                    <img src="https://i.scdn.co/image/ab67706f000000022ac21dacd63a52de41721848">
                </div>
                <div class="text-item">
                    <p><b>Today's Top Hits</b></p>
                    <p class="text-content">Lil Durk & J. Cole are on top of the Hottest 50!</p>
                </div>
            </div>
            <div class="item-content-tab-right">
                <div class="img-item">
                    <img src="https://i.scdn.co/image/ab67706f00000002fa6e73e9a1f6d296edf6db5c">
                </div>
                <div class="text-item">
                    <p><b>RapCaviar</b></p>
                    <p class="text-content">Music from Metro Boomin, Moneybagg Yo, YG and Tyga</p>
                </div>
            </div>
            <div class="item-content-tab-right">
                <div class="img-item">
                    <img src="https://i.scdn.co/image/ab67706f00000002b0fe40a6e1692822f5a9d8f1">
                </div>
                <div class="text-item">
                    <p><b>All Out 2010s</b></p>
                    <p class="text-content">The biggest songs of the 2010s.</p>
                </div>
            </div>
            <div class="item-content-tab-right">
                <div class="img-item">
                    <img src="https://i.scdn.co/image/ab67706f0000000278b4745cb9ce8ffe32daaf7e">
                </div>
                <div class="text-item">
                    <p><b>Rock Classics</b></p>
                    <p class="text-content">Rock legends & epic songs that continue to inspire generations. Cover: Foo Fighters</p>
                </div>
            </div>
            <div class="item-content-tab-right">
                <div class="img-item">
                    <img src="https://i.scdn.co/image/ab67706f00000002b60db5d1bcdd9c4fd1ebcffe">
                </div>
                <div class="text-item">
                    <p><b>Chill Hits</b></p>
                    <p class="text-content">Kick back to the best new and recent chill hits.</p>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
    function PageListSong(albumId){
        window.location.href='@Url.Action("PageListSong","Home")'+'?albumId='+albumId
    }
</script>
