@using HotMusic.DataModel;
@{
    Layout = "_LayoutSearch";
    var UserName = Context.Session.GetString("UserName") as string;
    var listAlbum = ViewData["listAlbum"] as List<Albums>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/PageSearch.css">
    <title>Search</title>
</head>
<body>
    <div class="container">
        @foreach(var Album in listAlbum)
        {
            <div class="element" onclick="PageListSong('@Album.AlbumId')">
                <div class="text-element">@Album.AlbumTitle</div>
                <div class="img-element">
                    <img src="~/img/Album/@Album.Thumbnail">
                </div>
            </div>
        }
    </div>
</body>
</html>
<script>
    const elements = document.querySelectorAll('.element');
    const colors = ["#E13300", "#7358FF", "#1E3264", "#E8115B", "#608108", "#148A08", "#148A08", "#BC5900", "#8D67AB", "#056952", "#777777"];

    elements.forEach((element, index) => {
        const indexColor = index%colors.length;
        const color = colors[indexColor];
        element.style.backgroundColor = color;
    });
    function PageListSong(albumId) {
        window.location.href = '@Url.Action("PageListSong","Home")' + '?albumId=' + albumId
    }
</script>


