<form method="post" id="import-form" enctype="multipart/form-data" asp-action="ImportCSV" asp-controller="Songs" asp-area="Admin">
    <input type="file" name="csvFile" required /> 
    <button type="submit" class="btn btn-success">Nhập file</button>
</form>
