@font-face {
    font-family: 'Regular';
    src: url('../webfonts/Gilroy-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Circular';
    src: url('../webfonts/AvenirLTStd-Medium.otf') format('truetype');
}
  body{
    color: white;
    font-family: Regular;
    background-color: black;
  }
.tab-left{
    height: 40em;
    width: 20%;
    float: left;
}
.tab-right{
    height: auto;
    width: 80%;
    background-color: black;
    float: left;
}
.top-tab-right{
    height: 3em;
    margin: 0.5em;
    margin-bottom: 2em;
}
.content-tab-right{
    height: 22em;
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
}
.title-content{
    width: 90%;
    height: 2em;
    font-size: 23px;
    font-weight:bold;
}
.title-content-right{
    color: #B3B3B3;
    height: 2em;
    width: 9%;
    font-weight: bold;
}
.item-content-tab-right{
    background-color: #1D1D1D;
    height: 18em;
    width: 18%;
    margin: 0.5em;
}
.img-item{
    height: 50%;
    width: 90%;
    margin: 0.5em;
}
.img-item img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.text-item{
    height: 30%;
    margin: 0.5em;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-title{
    white-space: nowrap;
}
.text-content{
    font-size: 14px;
}
.btn-previous{
   margin: 10px;
}
.login-top-tab{
    float: right;
    margin-right: 0.7em;
}
@media (max-width: 768px) {
    .content-tab-right {
      overflow: hidden; /* Ẩn phần bị thu nhỏ */
    }
  }
.login-top-tab button{
    font-size: 16px;
    border-radius: 40px;
    height: 50px;
    width: 100px;
    font-family: 'Circular', sans-serif !important;
    border-style: none;
}
.btn-singup{
    background-color: black;
    color:  #B3B3B3;
}
.btn-singup:hover{
    color: white;
}
li{
    padding: 10px;
    list-style-type: none;
}
ul{
    margin-left:-30px;
}
a {
    text-decoration: none;
}
.text-tab-left{
    margin-left:15px ;
    font-size: 17px;
    font-weight: bold;
    color:  #B3B3B3;
}
.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0deg);
  }