@media (max-width:600px){
    .tab-left {
        display:none;   
    }
    .item-content-tab-right {
        height: 10em !important;
        width: 40% !important;
        margin: 0.3em !important;
    }

}

@font-face {
    font-family: 'Regular';
    src: url('../webfonts/Gilroy-Regular.ttf') format('truetype');
  }
@font-face {
    font-family: 'Circular';
    src: url('../webfonts/AvenirLTStd-Medium.otf') format('truetype');
}
html {
    color: white;
    font-family: Regular;
    background-color: black;
}
.container {
    width:100px;
    padding:0px !important;
}
a{
    text-decoration:none !important;
}
.tab-left {
    position: sticky;
    top: 0;
    color: white;
    padding-top: 25px;
    height: 40em;
    width: 20%;
    float: left;
}
.tab-right {
    color: white;
    height: auto;
    width: 80%;
    background-color: black;
    float: left;
}
.top-tab-right {
    z-index:2;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
    height: 4em;
    padding: 0.5em;
    padding-top: 0.6em;
    margin-bottom: 1em;
    background-color:black;
}
.content-tab-right{
    height: 22em;
    margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
}
.title-content{
    width: 90%;
    height: 2em;
    font-size: 23px;
    font-weight:bold;
}
.title-content-right{
    color: #B3B3B3;
    height: 2em;
    width: 9%;
    font-weight: bold;
}
.item-content-tab-right {
    border-radius: 10px;
    background-color: #1D1D1D;
    height: 16em;
    width: 18%;
    margin: 0.5em;
}
    .item-content-tab-right:hover {
        background-color: #918c8c;
    }
.img-item, .img-item-artist {
    height: 70%;
    width: 90%;
    margin: 0.5em;
}
    .img-item img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
.img-item-artist img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.text-item {
    height: 20%;
    margin: 0.5em;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text-title{
    white-space: nowrap;
}
.text-content{
    font-size: 14px;
}
.btn-previous{
   margin: 15px;
}
.login-top-tab{
    float: right;
    margin-right: 0.7em;
}
@media (max-width: 768px) {
    .content-tab-right {
      overflow: hidden; /* Ẩn phần bị thu nhỏ */
    }
  }
.login-top-tab a {
    display: inline-block;
    padding: 0 16px;
    height: 42px;
    width: 100px;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    font-family: 'Circular', sans-serif !important;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    cursor: pointer;
}
.btn-singup {
    position: relative;
    background-color: black;
    color: #B3B3B3 !important;
}
.btn-singup:hover{
    font-size:15px;
    color: white !important;
}
.btn-login {
    background-color: white;
    color:black;
}
.btn-login:hover {
    height: 43px;
    width: 101px;
    font-size: 15px;
}
li {
    padding: 10px;
    list-style-type: none;
}
ul{
    margin-left:-30px;
}
a {
    text-decoration: none;
}
.text-tab-left{
    margin-left:15px ;
    font-size: 17px;
    font-weight: bold;
    color:  #B3B3B3;
}
.gray-filtered {
    filter: invert(0.5) sepia(70) saturate(0) hue-rotate(0deg);
  }

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

    .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.username {
    color:white;
    display: inline-block;
    vertical-align: middle;
}

.link-wrapper {
    display: inline-block;
    width: max-content;
    text-decoration: none;
    color: inherit;
}
.button-top{
    float:left;
    width:100px;
}
.search-input {
    margin-top:5px;
    float: left;
    width: 300px;
}
    .search-input input {
        font-size: 14px;
        color: #968256;
        border: none;
        height: 40px;
        width: 100%;
        border-radius: 20px;
        background-color: #242424;
    }

.search-input input[type="text"] {
    padding-left: 40px; 
    background-image: none;
}

.search-input #basic-addon1 {
position: absolute;
top: 50%;
left: 120px;
transform: translateY(-50%);
pointer-events: none; 
}

.menu {
    height: 50px;
}

    .menu a {
        display: inline-block;
        margin: 5px 5px;
        height: 35px;
        width: 70px;
        line-height: 35px;
        text-align: center;
        font-size: 14px;
        font-family: 'Circular', sans-serif !important;
        border: none;
        border-radius: 40px;
        text-decoration: none;
        color: white;
        background-color: #232323;
    }
    .menu a:hover{
        color:aquamarine;
    }

.title-not {
    text-align: center;
    margin: 11% 0px;
    height: 100%;
    width: 100%;
}
.playSong {
    height: 60px;
    width: 100%;
    background-color:black;
    position: fixed;
    bottom: 0;
    z-index: 3;
}
.truncate-text {
    display: inline-block;
    width: 40em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}