html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../img/Colorful_music_background_dn.jpg');
    background-size: cover;
    background-position: center;
}

.col-action {
    width: 90px !important;
}
.container {
    background:white;
    border-radius:5px;
}

table {
    margin-top:20px;
    background:white;
}
th {
    background-color: #04AA6D !important;
    color: white;
}

tr:hover {
    background-color: coral !important;
    color: white;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

th a{
    color:white !important;
}

h6 {
    color: blueviolet;
}
.bold-text {
    font-weight:bold;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

    .avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.username {
    display: inline-block;
    vertical-align: middle;
}

.truncate-text {
    display: inline-block;
    width: 40em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image-fileupload img{
    height:150px;
    width:150px;
    object-fit:cover;
    margin:10px;
    margin-left:70px;
}