@model HotMusic.Models.CategoryDisplayViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa thể loại</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryId" />
            <div class="form-group">
                <label asp-for="CategoryTitle" class="control-label"></label>
                <input asp-for="CategoryTitle" class="form-control" />
                <span asp-validation-for="CategoryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryTitle" class="control-label"></label>
                <select asp-for="CountryId" asp-items="@ViewBag.listCountry" class="form-control">
                    <option>--Chọn quốc gia--</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-route-id="@Model.CategoryId" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại danh sách</a>
</div>

