@model HotMusic.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "_LayoutHomepage";
}

<head>
<title>Login 07</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/style.css">
</head>

<body>
<section class="ftco-section" style="padding-top:1em !important">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
             <div class="wrap d-md-flex" >
                <div class="login-wrap p-4 p-lg-5" style="width:60% !important">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Đổi mật khẩu</h3>
                    </div>
                </div>
                    <form asp-action="ChangePassword" method="post" class="signin-form">
                        <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                        <input  type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                        <input  type="password" class="form-control" asp-for="NewPassword" placeholder="NewPassword" required>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-3">
                        <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
                        <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="ConfirmPassword" required>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control btn btn-primary submit px-3">Đổi mật khẩu</button>
                    </div>

            </form>
        </div>
        </div>
        </div>
    </div>
</div>
</section>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

