@model HotMusic.Models.UserViewModel

@{
    ViewData["Title"] = "Đăng nhập";
}

<h1>Đăng nhập hệ thống</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <span style="color:red;">@ViewData["Error"]</span>
             

            <div asp-validation-summary="ModelOnly" class="text-danger">
               
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" formnovalidate="formnovalidate" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRememberMe" class="control-label"></label>
                <input asp-for="IsRememberMe" type="checkbox" />
            </div>
            <div class="form-group">
                <input type="submit" value="Đăng nhập" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
