<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiple" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title> Login-Sign in Spotify </title>
    <link rel="stylesheet" href="~/css/Register.css">
</head>


<body>

    <div class="login-box">
        <div class="login-header">
            <header>Spotify</header>
        </div>


        <h2 class="logo">Đăng nhập vào Spotify</h2>

        <div class="input-box">
            <input type="text" class="input-field" placeholder="Email or User Name"
                   autocomplete="off" required>
        </div>

        <div class="input-box">
            <input type="password" class="input-field" placeholder="password"
                   autocomplete="off" required>
        </div>

        <div class="forgot">
            <section>
                <input type="checkbox" id="check">
                <label for="check">Remember me</label>
            </section>
            <section>
                <a href="#">Forgot password</a>
            </section>
        </div>
        <div class="input-submit">
            <button class="submit-btn" id="submit"></button>
            <label for="submit">Sign In</label>
        </div>
        <div class="sign-up-link">
            <p>Don't have account? <a href="#">Sign Up Spotify</a></p>
        </div>

    </div>


</body>

</html>