@{
    Layout = "_LayoutLogin";
}

﻿<partial name="_AlertMessage" />
<center>
    <h2>Trang lấy lại mật khẩu</h2>
    <br />
    <form method="post" asp-action="FogotPassword">
        <div>
            <br />
            <label for="email" class="form-label">Email của bạn : </label>
            <input type="email" style="width:50%" id="email" value="@ViewData["email"]" name="email" required>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Lấy lại mật khẩu</button>
    </form>
</center>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}