@model WebsiteMusic.Models.RegisterUserViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_LayoutLogin";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>
    <partial name="_AlertMessage" />
    <section class="ftco-section" style="padding-top:1em !important">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last backimg">
                            <div class="text w-100">
                                <h2>Chào mừng đến trang đăng kí</h2>
                                <p>Bạn đã có tài khoản?</p>
                                <a asp-action="Login" asp-controller="Users" class="btn btn-white btn-outline-white">Đăng nhập</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Đăng kí</h3>
                                </div>
                                <div class="w-100">
                                    <p class="social-media d-flex justify-content-end">
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                        <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                    </p>
                                </div>
                            </div>
                            <form asp-action="Register" method="post" class="signin-form">
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="UserName"></label>
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="Username" required>
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3">
                                    <label class="label" asp-for="Email"></label>
                                    <input type="text" class="form-control" asp-for="Email" placeholder="Username" required>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div style="display: flex; flex-wrap: wrap;">
                                    <div class="form-group flex-21">
                                        <label class="label" asp-for="Password"></label>
                                        <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group flex-21">
                                        <label class="label" asp-for="ConfilmPassword">ConfilmPassword</label>
                                        <input type="password" class="form-control" asp-for="ConfilmPassword" placeholder="Confilm Password">
                                        <span asp-validation-for="ConfilmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3">Đăng kí</button>
                                </div>
   
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/main.js"></script>

</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


