@model WebsiteMusic.Models.ResetPasswordViewModel
@{
    Layout = "_LayoutLogin";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMusic</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebMusic.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-xl-auto">
                <h1>Trang lấy lại mật khẩu!</h1>
                <form method="post" class="mt-4" asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Password" class="fw-bold">New Password</label>
                        <input type="password" asp-for="Password" class="form-control" autocomplete="off" placeholder="Nhập mật khẩu mới.." />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-2">
                        <label asp-for="ConfilmPassword" class="fw-bold">Confirm Password</label>
                        <input type="password" asp-for="ConfilmPassword" autocomplete="off" class="form-control" placeholder="Nhập lại mật khẩu..." />
                        <span asp-validation-for="ConfilmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary ms-6 mt-1">Xác nhận</button>
                </form>
            </div>
        </div>
    </div>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

